In [1]:
import tqdm
import pickle
import pandas as pd
from neo4j import GraphDatabase

In [2]:
df_pw = pd.read_csv("pw.csv", delimiter=",")

In [3]:
db = GraphDatabase.driver("neo4j://127.0.0.1:7687", auth=(df_pw["name"][0], df_pw["password"][0]))

In [4]:
sess = db.session()
result = sess.run("MATCH (n:Transaction) Where date ({year: 2019, month: 7}) >n.date >= date({year: 2017, month: 8}) RETURN n LIMIT 25")
results = []
for r in result:
    results.append(r[0])
df_neo4j = pd.DataFrame(results)

In [ ]:
sess = db.session()
df_neo4j=pd.DataFrame([[1]], columns=[0])
count=0
while df_neo4j[0][0]>0:
    result = sess.run("MATCH (t:Transaction) WHERE t.date < date({year: 2017, month: 8}) OR t.date >= date({year: 2019, month: 7}) with t LIMIT 10000 DETACH DELETE t  RETURN count(*)")
    results = []
    for r in result:
        results.append(r[0])
    df_neo4j = pd.DataFrame(results)
    count+=1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74

In [ ]:
sess = db.session()
df_neo4j=pd.DataFrame([[1]], columns=[0])
count=0
while df_neo4j[0][0]>0:
    result = sess.run("MATCH (a:Address) where NOT (a)-[:RECEIVES]-(:Transaction) and not (a)-[:SENDS]-(:Transaction) with a limit 10000 Delete a")
    results = []
    for r in result:
        results.append(r[0])
    df_neo4j = pd.DataFrame(results)
    count+=1
    print(count)

In [5]:
df_neo4j.head()

,outDegree,date,inDegree,inSum,outDegree,outSum,txid
0,2,2017-08-01,3,74487394,2,74455044,0000cf005a216d1349b83c1a7c280f6c937c42fe9368d0...
1,2,2017-08-01,1,675170,2,644603,0001b3df1802c58cf4a05f940208b72675bb7c54d55dfc...
2,1,2017-08-01,1,2320000,1,2318845,0001decf9d483589e048b0435aab6be77856e637e298e1...
3,2,2017-08-01,2,2015135360,2,2015105440,0001fe15fc0f0cded30473a26d8aaefc23f28ae96dd226...
4,2,2017-08-01,1,143376165,2,143326404,00023dafdd79df57d7c93ffb19134e6ca2137690ef41d3...